<%= render 'shared/common', book: @book, user: @user %>

<div class='col-xs-9'>
  <h2>Book detail</h2>

  <table class='table'>
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>
              <%= attachment_image_tag @detailed_book.user, :profile_image, :fill, 40, 40, format: 'jpeg', class:"attachment user profile_image fallback" , fallback: "no_image.jpg" %><br>
              <%= link_to @detailed_book.user.name, user_path(@detailed_book.user) %>
            </td>
            <td><%= link_to @detailed_book.title, book_path(@detailed_book) %></td>
            <td><%= @detailed_book.body %></td>
          <% if current_user.id == @detailed_book.user_id %>
            <td><%= link_to "Edit", edit_book_path(@detailed_book), class: "btn-sm btn-success" %></td>
            <td><%= link_to "Destroy", book_path(@detailed_book), method: :delete, data: {confirm: "本当に消しますか？"},class: "btn-sm btn-danger" %></td>
          <% end %>
        </tr>
    </tbody>
  </table>
</div>
